@use "../../styles/variables" as varr;

.header {
  height: 8rem;
  padding: 2rem varr.$main__padding;
  display: flex;
  align-items: center;
  border-bottom: varr.$border;

  @media screen and (max-width: varr.$breakpoint__l) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @media screen and (max-width: varr.$breakpoint__md) {
    padding-left: 3rem;
    padding-right: 3rem;
    border-bottom: none;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media screen and (max-width: varr.$breakpoint__md) {
      display: none;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: varr.$color__primary;

      h1 {
        font-size: 2.5rem;

        @media screen and (max-width: varr.$breakpoint__l) {
          display: none;
        }
      }
    }

    .search {
      display: flex;
      align-items: center;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      gap: 1.5rem;
      padding: 0.6rem;
      padding-left: 3rem;
      padding-right: 0.8rem;
      border: 1px solid #e3e3e3;

      span {
        border-right: 1px solid #d4d4d4;
        padding-right: 1.5rem;
        font-size: 1.5rem;
        font-weight: 500;
      }

      input {
        border: none;
        outline: none;
        font-size: 1.5rem;
        font-weight: 100;
        width: 10rem;
      }

      input::placeholder {
        font-family: varr.$thin-font;
        color: varr.$text__black;
        font-weight: 200;
      }

      i {
        height: 3.5rem;
        width: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: varr.$color__primary;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        color: white;
      }
    }

    .profile {
      display: flex;
      align-items: center;
      gap: 2rem;

      h3 {
        font-size: 1.5rem;
        font-weight: 500;
      }

      i {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__avater {
        padding: 0.5rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        border: 1px solid #e3e3e3;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;

        svg {
          width: 3rem;
        }

        i {
          font-size: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  &__mobile {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    padding-left: 2rem;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: varr.$breakpoint__md) {
      display: none;
    }

    i {
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__text {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      h4 {
        font-weight: 400;
      }

      p {
        display: flex;
        align-items: center;
        font-weight: 300;
        gap: 1rem;

        span {
          color: varr.$text__gray;
        }
      }
    }
  }
}

.filter {
  width: 4rem;
  height: 4rem;

  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e3e3e3;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
