@use "../../styles/variables" as varr;

.card {
  display: flex;
  flex-direction: column;
  position: relative;

  &__picture {
    width: 30rem;
    height: auto;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

    .swslides {
      -webkit-transform: translateZ(0);
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__body {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    &__left {
      h3 {
        font-weight: 400;
      }

      p {
        font-weight: 300;
        margin-top: 0.3rem;
        color: varr.$text__gray;
      }
    }

    &__right {
      display: flex;
      align-items: center;
      align-self: flex-start;
      font-weight: 300;

      i {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0.5rem;
        margin-bottom: 0.2rem;
      }
    }
  }

  &:hover {
    .swiperNavNext,
    .swiperNavPrev {
      display: flex;
    }

    .start {
      display: none !important;
    }
  }
}

.price {
  color: varr.$text__black !important;
  span {
    font-weight: 500 !important;
  }
}

.likeIcon {
  z-index: 9;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 3rem;

  svg {
    path {
      fill: varr.$text__gray;
    }
  }
}

.liked {
  svg {
    path {
      fill: red;
    }
  }
}

.swiperNavNext,
.swiperNavPrev {
  position: absolute;
  top: 50%;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  display: none;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;

  &:hover {
    transform: translateY(-50%) scale(1.05);
    -webkit-transform: translateY(-50%) scale(1.05);
    -moz-transform: translateY(-50%) scale(1.05);
    -ms-transform: translateY(-50%) scale(1.05);
    -o-transform: translateY(-50%) scale(1.05);
  }
}

.swiperNavNext {
  right: 2rem;
  background-image: url("/images/arrow-right.svg");
}

.swiperNavPrev {
  left: 2rem;
  background-image: url("/images/arrow-left.svg");
}

// .start {
//   display: none;
// }
