@use "../../styles/variables" as varr;

.footer_container {
  background-color: varr.$footerBg;
}

.footer {
  padding: 4rem varr.$main__padding 4rem varr.$main__padding;
  padding-right: 15rem;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: varr.$breakpoint__l) {
    padding-left: 4rem;
    flex-direction: column;
    padding-bottom: 0;
  }

  @media screen and (max-width: varr.$breakpoint__md) {
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media screen and (max-width: varr.$breakpoint__l) {
      gap: 1rem;
    }

    h4 {
      font-weight: 500;
      margin-bottom: 0.5rem;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      font-weight: 300;
      color: varr.$text__gray;

      @media screen and (max-width: varr.$breakpoint__l) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 4rem;
        padding-bottom: 4rem;
        border-bottom: varr.$border;
      }

      @media screen and (max-width: varr.$breakpoint__md) {
        display: grid;
        grid-template-columns: 1fr;
      }
    }
  }
}

.bottom {
  padding: 1.5rem varr.$main__padding;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: varr.$breakpoint__l) {
    margin-bottom: 3rem;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-top: 0;
  }

  @media screen and (max-width: varr.$breakpoint__md) {
    align-items: flex-start;
    padding-left: 3rem;
    margin-bottom: 0;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 300;
    @media screen and (max-width: varr.$breakpoint__l) {
      order: 2;
    }

    @media screen and (max-width: varr.$breakpoint__md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 300;

    li {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      i {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.socials {
  display: flex;
  gap: 2rem;
  margin-left: 5rem;

  @media screen and (max-width: varr.$breakpoint__md) {
    display: none !important;
  }
}

.hide {
  @media screen and (max-width: varr.$breakpoint__l) {
    display: none;
  }
}

.extra {
  @media screen and (min-width: varr.$breakpoint__md) {
    display: none;
  }

  @media screen and (max-width: varr.$breakpoint__md) {
    display: flex;
  }
}
