@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap");

$app-font: "Manrope", sans-serif;

$main_font: 1.6rem;
$font__wight: 400;

// color
$main__white: #ffffff;
$color__primary: #ff385c;
$color__secondary: #1c3d5b;
$text__color: #333;

// padding
$main__padding: 6rem;

$transition: all 0.3s linear;
